models/

sorted_data/
sorted_val_data/
sorted_test_data/

augmented_data/
rejected/

training/
validation/
testing/

embedded_feature_data/
training_deepface*
dimension_reduced_data_*

*.pyc
.DS_Store